
<div class="container">
    <div class="row">
        <img id="treasureopen" src="/images/{{scene.image}}" class="mx-auto transitionIn" style="max-width: 550px; max-height: 550px;">
        <p class="congratsText"> Congrats! You survived the night! </p>
    </div>        
         <h2 class="text-center">{{scene.title}}</h2>
        <img src="/images/{{scene.image}}" class="mx-auto" style="max-width: 550px; max-height: 550px;">        
    </div>
    <div class="row">
        <div id="text" class="storyText text-center">{{scene.text}}</div>
        <h1 class="sceneTitle1"> Prendergast Manor </h1>
        <h1 class="sceneTitle2"> The Foyer </h1>
        <h1 class="sceneTitle3"> The Kitchen </h1>
        <h1 class="sceneTitle4"> The Library </h1>
        <h1 class="sceneTitle5"> The Cellar </h1>
        <h1 class="sceneTitle6"> The Garden </h1>
        <h1 class="sceneTitle7"> The Cemetary </h1>
        <h1 class="sceneTitle8"> The Seance </h1>
    </div>

    <div class="row">
        <div id="scene-button1" class="text-center"><button type="button" class="btn btn-outline-light"><a  href="{{scene.choice1.[0]}}">{{scene.choice1.[1]}}</a></button></div>
        <div id="scene-button2" class="text-center"><button type="button" class="btn btn-outline-light"><a  href="{{scene.choice2.[0]}}">{{scene.choice2.[1]}}</a></button></div>
        <div id="scene-button3" class="text-center"><button type="button" class="btn btn-outline-light"><a  href="{{scene.choice3.[0]}}">{{scene.choice3.[1]}}</a></button></div>
    </div>
    </div>

    <script src='/js/story.js'></script>
    <script src='/animations/sceneText.js'></script>
    <script src='/animations/sceneTitle.js'></script>
    <script src='/animations/transitionAnimations.js'></script>
    <script src='/animations/successAnimations.js'></script>
  
    {{!-- animation script file name--}}
</div>
