
<div class="container">
    <div class="row">
        <img id="treasureopen" src="/images/{{scene.image}}" class="mx-auto transitionIn" style="max-width: 550px; max-height: 550px;">
        <p class="congratsText"> Congrats! You survived the night! </p>
    </div>        
    </div>
    <div class="row">
        <div id="text" class="storyText text-center">{{scene.text}}</div>
    </div>

    <div class="row">
        <div id="scene-button1" class="text-center"><button type="button" class="btn btn-outline-light"><a href="{{scene.choice1.[0]}}">{{scene.choice1.[1]}}</a></button></div>
        <div id="scene-button2" class="text-center"><button type="button" class="btn btn-outline-light"><a href="{{scene.choice2.[0]}}">{{scene.choice2.[1]}}</a></button></div>
         <div id="scene-button3" class="text-center"><button type="button" class="btn btn-outline-light"><a href="{{scene.choice3.[0]}}">{{scene.choice3.[1]}}</a></button></div>
    </div>
    </div>

    <script src='/js/story.js'></script>
    <script src='/animations/sceneText.js'></script>
    <script src='/animations/transitionAnimations.js'></script>
    <script src='/animations/successAnimations.js'></script>
    {{!-- animation script file name--}}
</div>
