<section class="container">
  <h3 class="story-name">{{story.name}}</h3>
  <section class="flex-row justify-center">
    {{#each story.scenes as |scene|}}
    <section class="card">
      <a href="/scene/{{id}}">
        <header>{{title}}</header>

        <div class="card-body">
          <img src="/images/{{filename}}" alt="{{description}}">
          <p>By: </p>
        </div>
      </a>
    </section>
    {{/each}}
  </section>
</section>